.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: 'Cambria', Arial, sans-serif;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

VBox {
    -fx-alignment: center;
    -fx-background-color: lightgray;
}

.Gamepane{
    -fx-background-size: stretch, stretch, stretch, stretch, stretch, stretch;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: NO-REPEAT, NO-REPEAT, NO-REPEAT, NO-REPEAT, NO-REPEAT, NO-REPEAT;
    -fx-background-image:
        url("imgs/room.png");
}
