.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: "Cambria", Arial, sans-serif;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

.main {
    -fx-alignment: center;
}

.title {
    -fx-font-size: 45px;
    -fx-font-family: "Impact", Arial, bold;
    -fx-text-fill: black;
}

Label {
    -fx-text-align: center;
    -fx-font-size: 24px;

}

VBox {
    -fx-background-color: lightgray;
    -fx-spacing: 10
}



