.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

.title {
    -fx-font-size: 45px;
    -fx-font-family: "Impact", Arial, bold;
    -fx-text-fill: black;
}

/* VBox {
    -fx-alignment: center;
} */

.vboxTitle {
    -fx-background-image: url("/imgs/title3.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 700 506; /* this is the width and height, I don't know what the actual numbers are so feel free to change it */
    -fx-background-position: center center;
    -fx-spacing: 20
}

Button {
    -fx-background-color: black;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-font-family: "Impact", Arial, bold;
    -fx-font-size: 18px;
}

